In [1]:
x = {45,632,45}
print(x)

{632, 45}

In [7]:
x = {
    's':45,
    'c':32,
    'd':450,
} 

#r = x.pop('s')
#r = x.clear()
#r = x.popitem()
x['c'] = 120

print(x)

{'s': 45, 'c': 120, 'd': 450}

In [12]:
s = {
    'a':100,
    'b':200,
    'c':300,
    'd':400,

}

s.update({'e':500,'f':600})

print(s)

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500, 'f': 600}

## get function

In [18]:
c = {
    'a':100,
    'b':200,
    'c':300,
    'd':400,
}

print(c.get('m',"key is not found"))

key is not found

In [19]:
d ={
    'a':"hello",
    'b':'world',
    'c': 'hii',
    45:654,
    89:231,
}

print(d)

{'a': 'hello', 'b': 'world', 'c': 'hii', 45: 654, 89: 231}

In [24]:
t ={
    'a':['hii',100,50,"hello"],
    'b':("hii",10,20,"hii"),
    'c':"hii how are you"
}

t['a'].append("all")

print(t)

{'a': ['hii', 100, 50, 'hello', 'all'], 'b': ('hii', 10, 20, 'hii'), 'c': 'hii how are you'}

In [34]:
n = {
    'name': "manoj",
    'lastname': "yadav",
    'address':"haryana",
    'rao':"shab"
}

# n = {
#     'a':10,
#     'b':20,
#     'c':30
# }

print(n.keys())
print(n.values())
print(n.items())

dict_keys(['name', 'lastname', 'address', 'rao'])
dict_values(['manoj', 'yadav', 'haryana', 'shab'])
dict_items([('name', 'manoj'), ('lastname', 'yadav'), ('address', 'haryana'), ('rao', 'shab')])

In [31]:
u = {
    'a':45
}

if('a',45) in u.items():
    print("Value of a is 45")
else:
    print("not here")

if 'a' in u:
    print("yes")
else:
    print("no")

Value of a is 45
yes

In [49]:
x = {
    12:45,
    3:'hello',
    2:421
}

for i in x:
    print(i,x[i])


for i in x.values():
    print(i)

for i in x.items():
    print(i)


for i,j in x.items():
    print(i,"   ",j)

12 45
3 hello
2 421
45
hello
421
(12, 45)
(3, 'hello')
(2, 421)
12     45
3     hello
2     421

In [58]:
#emphty disc
x  = ['a','b','c','d']
y = 0

z ={}

for i in x:
    z[i] = y

print(z)

{'a': 0, 'b': 0, 'c': 0, 'd': 0}

In [1]:
x = {
    'a':45,
    'b':65.

}

x['d'] = 500

print(x)

#print(x['f'])  give a error because key is not found

{'a': 45, 'b': 65.0, 'd': 500}

In [12]:
x = {
   'name':["manoj","yadav"],
   'age':(18),
   'addres': {"haryana"}

   
}

x['name'].append("raoshab")
print(x)

{'name': ['manoj', 'yadav', 'raoshab'], 'age': 18, 'addres': {'haryana'}}

In [33]:
x = {
    12:45,
    78:'hello',
    2:421
}

if (78)in x.keys():
    print("yes it is here")
else:
    print("it is not found")

yes it is here

In [30]:
x = ['a','b','c','d']
y = 0
z ={}
for i in x:
   z[i] = y
print(z)

{'a': 0, 'b': 0, 'c': 0, 'd': 0}

In [59]:
x = ['a','b','c','d']
y = 0
z ={}

for i in x:
    z[i]=y
print(z)

{'a': 0, 'b': 0, 'c': 0, 'd': 0}

In [88]:
x = ['a','b','c','d']
y = [1,2,3,4]
z ={}
a = 0
for i in x:
    z[i] = y[a]
    a =a+1

print(z)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [93]:
x = ['a','b','c','d']
y = [1,2,8,6]
z ={}

for i in range(len(x)):
    z.update({x[i]:y[i]})

print(z)

{'a': 1, 'b': 2, 'c': 8, 'd': 6}

In [102]:
x = {
    1:456,
    2:321
}
y = [x[2]]
y.append(200)
x[2] = tuple(y)
print(x[2])

(321, 200)

In [104]:
x = {}
for i in range(5):
    for j in range(4):
        x[i] =j
print(x)

{0: 3, 1: 3, 2: 3, 3: 3, 4: 3}

In [107]:
x = {
    'a':4,
    'b':5,
    'c':3
}

for i in x.values():
    print(i)

16
25
9

In [12]:
x = {
    'a':2,
    'b':4,
    'c':6

}

z ={}

for i,k  in x.items():
   z[k] = i
print(z)

{2: 'a', 4: 'b', 6: 'c'}

In [18]:
x = {
    'a':{
        'xc':20,
        'fd':30,
        'ad':21
    },

    'b':{
        'xc':28,
        'sa':53,
        'ac':00
    }
}

x['a']['xc'] = 201
x['a']['tt'] = 300
print(x)
print(x['b']['sa'])

{'a': {'xc': 201, 'fd': 30, 'ad': 21, 'tt': 300}, 'b': {'xc': 28, 'sa': 53, 'ac': 0}}
53

In [29]:
x = {
    1:{
        'a':45,
        'b':46,
        'c':47
    },

    120:633,
    47:120,
    'c':369
}

print(x[x[x[1]['c']]])

633