In [27]:
i = 0
while i <= 10:
    if i == 5:
        break
    print(i)
    i += 1

0
1
2
3
4

In [9]:
x = int(input("enter Your Number :"))
for i in range(1,11):
    print(x,"*",i," = ",i*x)

enter Your Number :8
8 * 1  =  8
8 * 2  =  16
8 * 3  =  24
8 * 4  =  32
8 * 5  =  40
8 * 6  =  48
8 * 7  =  56
8 * 8  =  64
8 * 9  =  72
8 * 10  =  80

In [20]:
list1 = [1, 2, 3]
print(sum(list1))

6

In [8]:
print(145//10)

14

In [25]:
#how to reverse a integer

x = int(input("Enter a number :"))
rev = 0

while(x>=1):
    rem = x%10
    print(rev)
    rev = (rev*10)+rem   #7
    x = x//10
    
    
print()

Enter a number :1234
0
4
43
432

In [34]:
#how to cheak palindrome

x = int(input("Enter a number :"))
rev = 0
temp = x
while(x>=1):
    rem = x%10
    rev = (rev*10)+rem   #7
    x = x//10

if(rev==temp):
    print("this is palindrome",rev)
else:
    print("this is note palindrome",x)

Enter a number :1234
this is note palindrome 0

In [16]:
x = [1, 2, True, "hello", 45.32]
x[1]= 5
print(x)

[1, 5, True, 'hello', 45.32]

In [21]:
x = [11,33,55,66,99,75,86]
x[1:5] = [45]
print(x)

[11, 45, 75, 86]

In [23]:
y = [10,52,98,85,88,874]
y.append(100)
print(y)

[10, 52, 98, 85, 88, 874, 100]

In [25]:
r = [10,89,78,56,74,65,25,45]
r.insert(3,50)
print(r)

[10, 89, 78, 50, 56, 74, 65, 25, 45]

In [28]:
q = [456,4564,456,244,47,3654,7852,78,63,235]
q.extend([45,46,47,48,49,50,50])
print(q)

[456, 4564, 456, 244, 47, 3654, 7852, 78, 63, 235, 45, 46, 47, 48, 49, 50, 50]

In [23]:
q = [[456, 4564, [456, 244, 47, 365, 4, [7852, 78], 63], 235]]
q[0][2][5].append(1000)
print(q)

[[456, 4564, [456, 244, 47, 365, 4, [7852, 78, 1000], 63], 235]]

In [24]:
x = ["m","i"]
y = ["y","s"]
z = []
for i in x:
    for j in y:
        z.append(i+""+j)
print(z)

['my', 'ms', 'iy', 'is']

In [25]:
x = ["hello","hii","121","12221","abba"]
z = []
for i in x:
    if len(i)<=3 and i[0] == i[-1]:
        z.append(i)
        print(x)

['hello', 'hii', '121', '12221', 'abba']

In [41]:
q = [[456, 4564, [456, 244, 47, 365, 4, [7852, 78], 63], 235]]

x = q[0][2][5]
x.append(6000)
s = sum(x)
print(x,s)

[7852, 78, 6000] 13930

In [39]:
x = [1, 2, 3, 5, 6, 8, 9, 6]
print("min or x =  ", min(x))
print("max of x =  ", max(x))
print("sum of x =  ", sum(x))

min or x =   1
max of x =   9
sum of x =   40

In [45]:
x = [1, 2, 3, 5, 6, 8, 9, 6]
x.sort()
s = x.sort(reverse = True)
print(x)
print(s)

[9, 8, 6, 6, 5, 3, 2, 1]
None

In [46]:
x = ["manoj","yadav","hello"]
print("min of x = ", min(x))
print("max of x = ", max(x))

min of x =  hello
max of x =  yadav

In [52]:
x = [1,2,3]*3
print(x)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [54]:
x = [[]]*3
x[0].append(10000)
print(x)

[[10000], [10000], [10000]]

In [5]:
x= [11,22,88,66,77,55,33,44]

if 77 in x:
    print("yes")
else:
    print("no")
    
    
if 77 not in x:
    print("yes right")
else:
    print("no you are wrong")

yes
no you are wrong

In [9]:
if[]:
    print("it is true")
else:
    print("it is false")

it is false

In [5]:
x = ["hello","hii","how","hmmm"]

for i in range(len(x)):
    print(i,x[i])

0 hello
1 hii
2 how
3 hmmm

In [18]:
x = [11,22,22,22,33,44,55,66,77,88,99,]

x.remove(22)
del x[5]
print(x)

[11, 22, 22, 33, 44, 66, 77, 88, 99]

In [23]:
x = [11,22,22,22,33,44,55,66,77,88,99,]  #delete in element in index bases 

del x[1:5]

z = x.pop()                                        #delete last element in list and index base delete
print(z + 100)

199

In [27]:
x = [11,22,22,22,33,44,55,66,77,88,99,]    #remove all element in list 
x.clear()
print(x)

[]

In [113]:
x = [11,22,22,22,33,44,55,66,77,88,99,]
while 22 in x:
    x.remove(22)
print(x)
    
    
    
for i in x:
    if 22 in x:
        x.remove(22)
    
print(x)

[11, 33, 44, 55, 66, 77, 88, 99]
[11, 33, 44, 55, 66, 77, 88, 99]

## list comphresion

In [143]:

x = ["hii","manoj","rao"]
y = ["hello","yadav","shab"]
z = [i+" "+j for i in x for j in y]

print(z)

# for i in x:
#     for j in y:
#         z.append(i+j)

['hii hello', 'hii yadav', 'hii shab', 'manoj hello', 'manoj yadav', 'manoj shab', 'rao hello', 'rao yadav', 'rao shab']

In [151]:
x = ["hii","manoj","rao"]
y = ["hello","yadav","shab"]
z= []

for i in range(len(x)):
    z.append(x[i]+y[i])
print(z)

['hiihello', 'manojyadav', 'raoshab']

In [171]:
x = [11,22,22,22,33,44,44,56,78,55,66,77,88,99,]
z = []
for i in x:
    if i not in z:
      z.append(i)
print(z)

[11, 22, 33, 44, 56, 78, 55, 66, 77, 88, 99]

In [184]:
x = ["hellh","121","rer","465","54654","4654","hellojf"]
z = []
for i in x:
    if i[0] == i[-1]:
        z.append(i)
print(z)

['hellh', '121', 'rer', '4654']

In [2]:
x = ("hello",0.33,456)
print(x)

('hello', 0.33, 456)