In [6]:
#create a list from user input

x = int(input("enter your number"))
z =[]

for i in range(x):
    y = input("enter your list number :")
    if y.isdigit():
        z.append(int(y))
    else:
        z.append(y)
        
print(z)

enter your number2
enter your list number :45
enter your list number :78
[45, 78]

In [27]:
x = [12,45,63,78,12,12,41,45,36]
z = []
for i in x:
    
    if i not in z:
        z.append(i)
        
        
print(z)

[12, 45, 63, 78, 41, 36]

## tuple function

In [35]:
x = (12,456,86.012)

print(sum(x))
print(min(x))
print(max(x))
print(len(x))
print(x.index(12))
print(x.count("12"))
print(x)

554.012
12
456
3
0
0
(12, 456, 86.012)

In [39]:
x = (11,22,33,44,55)
y = list(x)
y[2] = 66

x = tuple(y)

print(y)

[11, 22, 66, 44, 55]

In [41]:
#which of the tuple

x = ("hello","hii")    #it is a tuple
y = ("hii",)           #it is ia tuple because ,comma is demfine a it is tuple
z = ("hmmmm")           # it is not a tuple 

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

('hello', 'hii')
('hii',)
hmmmm
<class 'tuple'>
<class 'tuple'>
<class 'str'>

In [42]:
#Q3 

x = (4,6,7)
y = (2,5,8)

z = x+y
print(z)

(4, 6, 7, 2, 5, 8)

In [46]:
# this is tuple
x = 45,35
print(x)

(45, 35)

# tuple unpacking

In [50]:
x,y,z = (19,"hello",456)
print(x,y,z)
print(x)
print(y)
print(z)

19 hello 456
19
hello
456

## tuple swaping

In [52]:
x = (20,30,45,12)
y = (38,71,15)
x,y = y,x

print(x)
print(y)

(38, 71, 15)
(20, 30, 45, 12)

In [56]:
x =(1,2,3,78,[45,63,85],85,32,94)
y =[1,2,3,78,(45,63,85),85,32,94]
print(x)
print(y)

(1, 2, 3, 78, [45, 63, 85], 85, 32, 94)
[1, 2, 3, 78, (45, 63, 85), 85, 32, 94]

# SET ------ {}

- set is immutabel
- set is unorderd
- set is unindexed
- set is collection of unique elements

In [57]:
x = {12,"hello","hii",45,987,987,12,45,63}
print(x)

{'hello', 987, 12, 45, 'hii', 63}

In [61]:
x = {12,"hello","hii",45,987,987,12,45,63}
x.add(45555)
print(x)

{45555, 'hello', 987, 12, 45, 'hii', 63}

In [63]:
x = {12,"hello","hii",45,987,987,12,45,63}
x.update("hii","how","are","you")
print(x)

{'w', 12, 'hii', 987, 'hello', 'u', 'i', 'r', 'y', 45, 'e', 'o', 'h', 'a', 63}

In [1]:
x = ['a','b','c']
y = [1,2,3]
z = {}

for i in x:
    z.update(x[i]y[i])
    
print(z)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4032927222.py, line 6)

In [16]:
x = {}

for i in range(3):
    for j in range(2):
        x[i] = j
        
print(x)

{0: 1, 1: 1, 2: 1}

In [ ]:
x = {
    
}